<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <h1>V채lkommen till <%= @registration.group.name %>, vi ser fram emot att f책 tr채ffa dig!</h1>

<p><%= @registration.group.mail_message %></p>

<p>Varma h채lsningar</p>

<address><%= @registration.group.sender_address %></address>
  </body>
</html>
