<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <h1>Du är nu anmäld till <%= @registration.group.name %>, vi ser fram emot att få träffa dig!</h1>

<p><%= simple_format(@registration.group.mail_message) %></p>

<p>Vänliga hälsningar</p>

<address><%= @registration.group.sender_address %></address>
  </body>
</html>
