<% content_for :panel do %>
  <h5>Välkommen till Greyherd!</h5>
    <p>Här kan du anmäla till dig grupper men först behöver vi veta hos vilken organisation du ska anmäla dig</p>
<% end %>

<% content_for :breadcrumbs do %>
   <li><span>Organisationer</span></li>
<% end %>


<h1>Anmälningar hos följande organisationer</h1>

   <ul>
<% @organizations.each do |organization| %>

    <li><%= link_to organization.name, organization %></li>
<% end %>
       </ul>

