<% content_for :panel do %>
    <h5>Välkommen till anmälningstjänsten för <%= @organization.name %></h5>
    <p></p>
<% end %>

<% content_for :notice do %>
    <%= notice %>
<% end %>

<% content_for :breadcrumbs do %>
   <li><span><%= @organization.name %></span></li>
<% end %>

<h2>Pågående anmälningsperioder</h2>

<ul>
<% @organization.current_seasons.each do |season| %>

 <li><%= link_to season.name, season %></li>
<% end %>
    </ul>
